/*
 Estilos generales de fms.html
*/

body{
  background-color: #212121;
}
nav {
  background-color: #212121 !important;
  padding: 0px !important;
  margin-top: 20px;
}
h1{
  font-family: 'Permanent Marker', cursive;
  color: red;
  font-size: 40px;
  width: 100%;
}
h5{
  color: white;
  width: 100%;
  height: 24px;
}
.navbar {
  display: flex;
  justify-content:flex-start;
}

.formulario {
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p{
  margin: 0px !important;
}

#marca{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: red;
}

.comenzar{
  margin-bottom: 30px;
}

/* Publicidad fms.html */
.publicidad-fms{
  width: 100%;
  height: 200px;
  background-image: url("../../../publicidad/publicidad-fms.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 50px;
}
